[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GDash
#Comment=Generate color schemes
Icon=gdash.png
Exec=gdash
Categories=GNOME;GTK;Application;Game;ArcadeGame
