[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GDash
Comment=Classic arcade game similar to Emerald Mines
Icon=gdash.png
Exec=gdash
Categories=GNOME;GTK;Application;Game;ArcadeGame
